body {
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  margin: 0 auto;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  color: #666;
  background-color: #f6f6f6;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #666;
}
.clearfix {
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* app */
.app {
  height: 45px;
  background: #333333;
  color: #fff;
}
.app ul li {
  float: left;
  height: 45px;
  line-height: 45px;

  text-align: center;
}
.app ul li:nth-child(1) {
  width: 8%;
}
.app ul li:nth-child(1) img {
  width: 10px;
}
.app ul li:nth-child(2) {
  width: 10%;
}
.app ul li:nth-child(2) img {
  width: 30px;
}
.app ul li:nth-child(3) {
  width: 57%;
}
.app ul li:nth-child(4) {
  width: 25%;
  background: #f63515;
}
/* search */
.search-wrap {
  position: fixed;
  height: 44px;
  width: 100%;
  max-width: 640px;
  min-width: 320px;
  background: #e43130;
  overflow: hidden;
  color: #fff;
}
.search-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 100%;
}
.search-btn::before {
  content: "";
  display: block;
  width: 20px;
  height: 18px;
  margin: 14px 0 0 15px;
  background: url(../images/s-btn.png) no-repeat center center;
  background-size: 20px;
}
.search-login {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  line-height: 44px;
}

.search {
  position: relative;
  height: 30px;
  background: #f7f7f7;
  border-radius: 15px;
  margin: 7px 50px;
}
.search div {
  float: left;
}
.jd-icon {
  position: relative;
  width: 20px;
  height: 15px;
  margin: 8px 8px 0 15px;
  background: url(../images/jd.png) no-repeat;
  background-size: 20px 15px;
}
.jd-icon::after {
  position: absolute;
  top: 0;
  left: 26px;
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  background: #ddd;
}
.sou {
  width: 18px;
  height: 15px;
  background: url(../images/jd-sprites.png) -80px 0;
  background-size: 200px;
  margin: 8px 0 0 5px;
}
/* brand */
.slider img {
  width: 100%;
}
.brand {
  border-radius: 30px 30px 0 0;
  overflow: hidden;
}
.brand div {
  float: left;
  width: 33.33%;
}
.brand div img {
  width: 100%;
}
/* nav */
.nav a:link,
.nav a:visited {
  float: left;
  width: 20%;
  text-align: center;
}
.nav a img {
  width: 40px;
  margin-top: 10px;
}
.nav a span {
  display: block;
  font-size: 12px;
  margin-top: 6px;
}
/* news */
.news {
  margin-top: 20px;
}
.news a {
  float: left;
  display: block;
  box-sizing: border-box;
}
.news a:nth-child(1) {
  width: 50%;
}
.news a:nth-child(n + 2) {
  width: 25%;
  border-left: 1px solid #ddd;
}
.news a img {
  width: 100%;
}
